*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* membuat tampilan utama navbar */
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #b3e5fc;
color: #627d98;
padding: 1rem 2rem;
}

/*membuat tampilan logo*/
.navbar .logo{
font-size: 2rem;
font-weight: bold;
}

/*membuat tampilan daftar menu*/
.nav-links{
list-style: none;
display: flex;
gap: 25px;
}

/*membuat tampilan teks link*/
.nav-links a{
color: #627d98;
text-decoration: none;
font-size: 16px;
font-family: Impact;
}
/*membuat tampilan hover*/
.nav-links a:hover{
background-color: whitesmoke;
color: #627d98;
}

#items{
font-size: 16px;
font-family: Impact;
color: #b3e5fc;
}
/* Background halaman */
body {
    background-color: rgb(85, 92, 92);
    margin: 0;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
}


/* Logo */
.logo {
    font-size: 25px;
    font-weight: bold;
}


/* Menu navbar */
.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}


/* Link navbar */
.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


/* Efek saat kursor di navbar */
.nav-links a:hover {
    color: rgb(18, 97, 71);
}


/* Foto makanan */
#fotoMakanan {
    width: 300px;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.3s;
}


/* Efek hover foto */
#fotoMakanan:hover {
    transform: scale(1.05);
}


/* Foto ketika di-zoom */
#fotoMakanan.zoom {
    transform: scale(1.5);
}


/* Judul resep */
#judulResep {
    cursor: pointer;
    transition: 0.3s;
}


/* Efek hover judul */
#judulResep:hover {
    color: rgb(18, 97, 71);
}


/* Bagian cara membuat */
.bg-2 {
    padding: 20px;
}


/* Tombol pesan */
button {
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}


/* Efek tombol */
button:hover {
    background-color: #B3E5FC;
    color: white;
}